<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="robotmodel">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.091266931027055 0.31770864439364 0.381689562361035"
        rpy="0 0 0" />
      <mass
        value="2.4561177468961" />
      <inertia
        ixx="0.0119353266896652"
        ixy="-5.59392364671776E-05"
        ixz="3.648585422869E-05"
        iyy="0.0127688283426464"
        iyz="2.47137463707323E-06"
        izz="0.0190751105246607" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotmodel/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotmodel/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="rotate base">
    <inertial>
      <origin
        xyz="-0.000479925361132075 -3.31761950371767E-05 0.113906202895831"
        rpy="0 0 0" />
      <mass
        value="1.19922335564864" />
      <inertia
        ixx="0.00465109427249343"
        ixy="-5.46165088272668E-05"
        ixz="3.64803945469887E-05"
        iyy="0.00546491004158192"
        iyz="2.55299516267252E-06"
        izz="0.00554047689656755" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotmodel/meshes/rotate base.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotmodel/meshes/rotate base.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rotate base"
    type="fixed">
    <origin
      xyz="0.0918878731467267 -0.346435443964538 0.31775070399833"
      rpy="1.5707963267949 0 0" />
    <parent
      link="base_link" />
    <child
      link="rotate base" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="lower arm">
    <inertial>
      <origin
        xyz="-0.155 -3.33066907387547E-16 -0.0550699999999998"
        rpy="0 0 0" />
      <mass
        value="0.247158355868061" />
      <inertia
        ixx="0.000866534387061447"
        ixy="-3.76760254938713E-18"
        ixz="6.51879531497214E-19"
        iyy="0.00201398604928593"
        iyz="4.39009962950575E-19"
        izz="0.0012313026951699" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotmodel/meshes/lower arm.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotmodel/meshes/lower arm.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lower arm"
    type="fixed">
    <origin
      xyz="0.078904 0.035105 0.15625"
      rpy="1.5708 0.84817 1.6376" />
    <parent
      link="rotate base" />
    <child
      link="lower arm" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="upper arm">
    <inertial>
      <origin
        xyz="0.0550000000000022 -0.162571615295364 0.0390699999999914"
        rpy="0 0 0" />
      <mass
        value="0.553932772437962" />
      <inertia
        ixx="0.00950068407154474"
        ixy="1.02172502229603E-16"
        ixz="9.60246016556528E-20"
        iyy="0.000128887101671353"
        iyz="-7.60266576506256E-18"
        izz="0.00961971522402867" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotmodel/meshes/upper arm.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotmodel/meshes/upper arm.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="upper arm"
    type="fixed">
    <origin
      xyz="-0.31117 0.029882 -0.016"
      rpy="3.1416 0 -0.57437" />
    <parent
      link="lower arm" />
    <child
      link="upper arm" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="lower wrist">
    <inertial>
      <origin
        xyz="-0.0599002775620069 -0.0145250651582888 -0.0390699999999921"
        rpy="0 0 0" />
      <mass
        value="0.157249507163386" />
      <inertia
        ixx="0.000103336543586529"
        ixy="-2.38357966733642E-05"
        ixz="2.06878445486865E-20"
        iyy="3.21046938039698E-05"
        iyz="-1.1024449514636E-19"
        izz="0.000132196675957652" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotmodel/meshes/lower wrist.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotmodel/meshes/lower wrist.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lower wrist"
    type="fixed">
    <origin
      xyz="0 -0.3712 0"
      rpy="3.1416 0 3.1416" />
    <parent
      link="upper arm" />
    <child
      link="lower wrist" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="middle wrist">
    <inertial>
      <origin
        xyz="0.0650700000000001 -0.0896700233335408 -0.012715703160485"
        rpy="0 0 0" />
      <mass
        value="0.113820080301924" />
      <inertia
        ixx="1.80752904389812E-05"
        ixy="1.02171445591519E-18"
        ixz="-3.87857099065219E-19"
        iyy="7.58156761069056E-05"
        iyz="-2.20228566286118E-20"
        izz="8.93102953285944E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotmodel/meshes/middle wrist.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotmodel/meshes/middle wrist.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="middle wrist"
    type="fixed">
    <origin
      xyz="-0.032259 -0.007672 0.026"
      rpy="0.32538 1.5708 0" />
    <parent
      link="lower wrist" />
    <child
      link="middle wrist" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="upper wrist">
    <inertial>
      <origin
        xyz="-0.0650424784683602 -0.0025236722009232 0.0280547142271531"
        rpy="0 0 0" />
      <mass
        value="0.0589690078993044" />
      <inertia
        ixx="2.49177280818798E-05"
        ixy="-2.58874444504596E-20"
        ixz="-2.45094660547678E-08"
        iyy="4.51186198638769E-05"
        iyz="-3.42527115552265E-06"
        izz="2.52852206008554E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotmodel/meshes/upper wrist.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotmodel/meshes/upper wrist.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="upper wrist"
    type="fixed">
    <origin
      xyz="0.00015242 -0.11681 -0.024215"
      rpy="-1.5708 0.010999 3.1416" />
    <parent
      link="middle wrist" />
    <child
      link="upper wrist" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="End Effector">
    <inertial>
      <origin
        xyz="-0.0126625647226259 -0.0776625042780698 0.00497777842811054"
        rpy="0 0 0" />
      <mass
        value="0.0103411857757491" />
      <inertia
        ixx="1.11657401168925E-06"
        ixy="1.00342260007525E-07"
        ixz="-2.31213524820822E-19"
        iyy="7.60725561173644E-07"
        iyz="-6.1476063124941E-20"
        izz="1.86129491347072E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotmodel/meshes/End Effector.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotmodel/meshes/End Effector.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="End Effector"
    type="fixed">
    <origin
      xyz="-0.032287 -0.0008 -0.015816"
      rpy="-1.5708 -0.25517 0" />
    <parent
      link="upper wrist" />
    <child
      link="End Effector" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>