<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="RoboticArmUrdf">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0130606856888136 0.104796725192401 0.133927940020527"
        rpy="0 0 0" />
      <mass
        value="1.3348146018366" />
      <inertia
        ixx="0.00731717119287839"
        ixy="-3.95166411671864E-19"
        ixz="2.02987595928941E-21"
        iyy="0.00731717119287839"
        iyz="-7.68519617455242E-20"
        izz="0.0135564188757262" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="base_support">
    <inertial>
      <origin
        xyz="-0.000162890713149082 -7.3240534757088E-05 0.0664450704223414"
        rpy="0 0 0" />
      <mass
        value="0.832868332393332" />
      <inertia
        ixx="0.00350108503435845"
        ixy="-4.67330503264092E-05"
        ixz="-2.46721283635663E-07"
        iyy="0.00359380894375415"
        iyz="-1.80675445571452E-07"
        izz="0.00325080940173649" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/base_support.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/base_support.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="base_support"
    type="fixed">
    <origin
      xyz="0.0130606856888135 -0.160303043320073 0.104796725192401"
      rpy="1.5707963267949 0 0" />
    <parent
      link="base_link" />
    <child
      link="base_support" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="rotating_base">
    <inertial>
      <origin
        xyz="-0.00269104666764745 -2.26128577741902E-06 0.0310765276223877"
        rpy="0 0 0" />
      <mass
        value="0.568032159474985" />
      <inertia
        ixx="0.00127653342014438"
        ixy="6.45607624381303E-08"
        ixz="3.65694449931144E-05"
        iyy="0.00211751010326715"
        iyz="3.07292946051472E-08"
        izz="0.0025129988786093" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/rotating_base.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/rotating_base.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rotating_base"
    type="fixed">
    <origin
      xyz="0 0 0.135"
      rpy="0 0 0.0667915392522343" />
    <parent
      link="base_support" />
    <child
      link="rotating_base" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="rotating_base_joint">
    <inertial>
      <origin
        xyz="-0.0549999999999999 -0.00703986656086272 -0.0523864443275936"
        rpy="0 0 0" />
      <mass
        value="0.0779202105891382" />
      <inertia
        ixx="2.17852476330344E-05"
        ixy="-8.10741447379937E-08"
        ixz="1.08950162168509E-08"
        iyy="1.3516751184445E-05"
        iyz="2.62188702546664E-06"
        izz="3.26749163361101E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/rotating_base_joint.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/rotating_base_joint.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rotating_base_joint"
    type="fixed">
    <origin
      xyz="0.065071012278614 0 0"
      rpy="0.133583078504468 1.5707963267949 0" />
    <parent
      link="rotating_base" />
    <child
      link="rotating_base_joint" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="lower_arm">
    <inertial>
      <origin
        xyz="-0.155 -2.77555756156289E-16 -0.0550700000000001"
        rpy="0 0 0" />
      <mass
        value="0.247158355868061" />
      <inertia
        ixx="0.000866534387061446"
        ixy="-2.38524477946811E-18"
        ixz="-3.08881451406787E-19"
        iyy="0.00201398604928593"
        iyz="-7.61067705470258E-19"
        izz="0.0012313026951699" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/lower_arm.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/lower_arm.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lower_arm"
    type="fixed">
    <origin
      xyz="0.0810710122786172 0.0297610010239274 0.021246736186644"
      rpy="1.5707963267949 0.848171739621261 1.5707963267949" />
    <parent
      link="rotating_base" />
    <child
      link="lower_arm" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="lower_arm_joint">
    <inertial>
      <origin
        xyz="-0.055 -4.5102810375397E-16 -0.0390699999999915"
        rpy="0 0 0" />
      <mass
        value="0.0779202105891381" />
      <inertia
        ixx="2.17852476330344E-05"
        ixy="3.72694496791892E-20"
        ixz="-2.83514661611665E-21"
        iyy="1.31644131887314E-05"
        iyz="8.13839870087848E-21"
        izz="3.30272543318236E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/lower_arm_joint.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/lower_arm_joint.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lower_arm_joint"
    type="fixed">
    <origin
      xyz="-0.311174431281139 0.0298817987387519 -0.0160000000000158"
      rpy="0 0 2.56722332066206" />
    <parent
      link="lower_arm" />
    <child
      link="lower_arm_joint" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="upper_arm">
    <inertial>
      <origin
        xyz="0.0550000000000026 -0.189183548498198 0.0390699999999916"
        rpy="0 0 0" />
      <mass
        value="0.476012561848824" />
      <inertia
        ixx="0.00947889882391171"
        ixy="1.03776782631702E-16"
        ixz="-2.24747907897596E-20"
        iyy="0.000115722688482621"
        iyz="5.31255179436593E-18"
        izz="0.00958668796969685" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/upper_arm.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.749019607843137 0.749019607843137 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/upper_arm.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="upper_arm"
    type="fixed">
    <origin
      xyz="-0.311174431281139 0.0298817987387519 -0.0160000000000158"
      rpy="-3.14159265358979 0 -0.574369332927732" />
    <parent
      link="lower_arm" />
    <child
      link="upper_arm" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="upper_arm_joint">
    <inertial>
      <origin
        xyz="-0.055000000000017 -2.18158824338843E-14 -0.0390699999999914"
        rpy="0 0 0" />
      <mass
        value="0.0779202105891382" />
      <inertia
        ixx="2.17852476330344E-05"
        ixy="-3.26742959403346E-19"
        ixz="7.10214574478763E-21"
        iyy="1.31644131887314E-05"
        iyz="-1.75376127055876E-21"
        izz="3.30272543318237E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/upper_arm_joint.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/upper_arm_joint.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="upper_arm_joint"
    type="fixed">
    <origin
      xyz="0 -0.371200669102102 0"
      rpy="3.14159265358979 0 3.14159265358977" />
    <parent
      link="upper_arm" />
    <child
      link="upper_arm_joint" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="lower_wrist">
    <inertial>
      <origin
        xyz="-0.0550000000000144 -0.0303864944381415 -0.0550699999999914"
        rpy="0 0 0" />
      <mass
        value="0.0793292965742476" />
      <inertia
        ixx="8.95927070134836E-05"
        ixy="-1.81053292475607E-19"
        ixz="-2.04602092850225E-22"
        iyy="1.08988695552488E-05"
        iyz="-4.26453909775066E-20"
        izz="9.91694216258284E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/lower_wrist.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.749019607843137 0.749019607843137 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/lower_wrist.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lower_wrist"
    type="fixed">
    <origin
      xyz="0.00288582485909794 -0.388782271685086 -0.0159999999999981"
      rpy="-3.14159265358979 0 -2.81621620868754" />
    <parent
      link="upper_arm" />
    <child
      link="lower_wrist" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="middle_wrist">
    <inertial>
      <origin
        xyz="-0.0550000000000147 -0.084487798152163 -0.0650699999999999"
        rpy="0 0 0" />
      <mass
        value="0.041392877796077" />
      <inertia
        ixx="5.43054950346831E-05"
        ixy="-1.60936259978317E-20"
        ixz="3.27684156399979E-20"
        iyy="4.78269819228167E-05"
        iyz="-3.20708133340438E-20"
        izz="6.92003714169129E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/middle_wrist.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.749019607843137 0.749019607843137 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/middle_wrist.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="middle_wrist"
    type="fixed">
    <origin
      xyz="0 0 0.00999999999999916"
      rpy="0 0 0" />
    <parent
      link="lower_wrist" />
    <child
      link="middle_wrist" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="middle_wrist_fastener">
    <inertial>
      <origin
        xyz="0.0650700000000033 -0.0902500014384841 0.00500000000000045"
        rpy="0 0 0" />
      <mass
        value="0.0180265824894944" />
      <inertia
        ixx="1.36978170398376E-06"
        ixy="-1.77134294860471E-22"
        ixz="-3.19217618211663E-20"
        iyy="6.29447940200515E-06"
        iyz="1.48230765769503E-21"
        izz="7.36381806449733E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/middle_wrist_fastener.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.749019607843137 0.749019607843137 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/middle_wrist_fastener.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="middle_wrist_fastener"
    type="fixed">
    <origin
      xyz="-0.0310000000000152 0 0.00999999999999779"
      rpy="1.7889617221838 1.57079631189374 1.78922028604001" />
    <parent
      link="lower_wrist" />
    <child
      link="middle_wrist_fastener" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="middle_wrist_rotate">
    <inertial>
      <origin
        xyz="0.0650700000000001 -0.0934209399670716 0.0100000000000001"
        rpy="0 0 0" />
      <mass
        value="0.0544006200163533" />
      <inertia
        ixx="9.78547159330619E-06"
        ixy="1.23014255527929E-20"
        ixz="-8.17344849645657E-20"
        iyy="2.16942147820842E-05"
        iyz="-3.3881317890172E-21"
        izz="2.76409822294144E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/middle_wrist_rotate.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/middle_wrist_rotate.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="middle_wrist_rotate"
    type="fixed">
    <origin
      xyz="-0.0510000000000153 0 0.009999999999996"
      rpy="1.8200473876846 1.57079630572147 1.82043872432893" />
    <parent
      link="lower_wrist" />
    <child
      link="middle_wrist_rotate" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="upper_wrist_support">
    <inertial>
      <origin
        xyz="-0.0638496887120203 -0.00169425079540031 0.0273006010626642"
        rpy="0 0 0" />
      <mass
        value="0.0555738247179545" />
      <inertia
        ixx="2.44431745672034E-05"
        ixy="3.99164276393589E-20"
        ixz="-1.03536168224706E-07"
        iyy="4.43340564974168E-05"
        iyz="-3.42527115552265E-06"
        izz="2.49701179742996E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/upper_wrist_support.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.749019607843137 0.749019607843137 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/upper_wrist_support.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="upper_wrist_support"
    type="fixed">
    <origin
      xyz="0.00015242058887599 -0.116806017714321 -0.00421487894331463"
      rpy="-1.5707963267949 0.0109990775949471 -3.14159265358979" />
    <parent
      link="middle_wrist_rotate" />
    <child
      link="upper_wrist_support" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="left_upper_gear">
    <inertial>
      <origin
        xyz="0.04560067699187 -0.0403924815910667 0.00150000000000017"
        rpy="0 0 0" />
      <mass
        value="0.0033951831813499" />
      <inertia
        ixx="4.76330917639785E-07"
        ixy="-7.71923054033505E-08"
        ixz="6.74979379843271E-22"
        iyy="3.13325223592269E-07"
        iyz="1.76685778841327E-21"
        izz="7.84563366460029E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/left_upper_gear.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/left_upper_gear.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_upper_gear"
    type="fixed">
    <origin
      xyz="-0.00881412206891066 -0.00329999999996133 -0.0084845804053541"
      rpy="-1.57079632679489 -0.207904224454459 -3.14159265358946" />
    <parent
      link="upper_wrist_support" />
    <child
      link="left_upper_gear" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="left_upper_fastner_support">
    <inertial>
      <origin
        xyz="-0.0296581057404265 -0.0949371627528535 0.00124999999999953"
        rpy="0 0 0" />
      <mass
        value="0.000282503805877604" />
      <inertia
        ixx="1.20637751745227E-08"
        ixy="2.92812516355629E-09"
        ixz="1.16839261523115E-23"
        iyy="1.49590348728812E-09"
        iyz="-6.38480035314368E-24"
        izz="1.32654038640217E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/left_upper_fastner_support.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/left_upper_fastner_support.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_upper_fastner_support"
    type="fixed">
    <origin
      xyz="-0.0553979760761215 -0.0642810003731594 0"
      rpy="3.14159265358979 0 -2.03851468926038" />
    <parent
      link="left_upper_gear" />
    <child
      link="left_upper_fastner_support" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="left_end_effector">
    <inertial>
      <origin
        xyz="-0.0202625950481072 -0.131145813818515 0.00165499999999963"
        rpy="0 0 0" />
      <mass
        value="0.000540661599083285" />
      <inertia
        ixx="4.67657334114781E-08"
        ixy="1.17755889168048E-08"
        ixz="8.01331218410746E-24"
        iyy="4.69591747119047E-09"
        iyz="6.02420130485885E-23"
        izz="5.04743937917159E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/left_end_effector.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/left_end_effector.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_end_effector"
    type="fixed">
    <origin
      xyz="-0.0775257933993018 0.00332527875256274 0.00249999999996076"
      rpy="0 0 0.640001266438473" />
    <parent
      link="left_upper_fastner_support" />
    <child
      link="left_end_effector" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="right_upper_gear">
    <inertial>
      <origin
        xyz="0.0456006769918698 -0.0403924815910666 0.00149999999999961"
        rpy="0 0 0" />
      <mass
        value="0.00339518318134994" />
      <inertia
        ixx="4.76330917639795E-07"
        ixy="-7.71923054033513E-08"
        ixz="1.45335633625567E-21"
        iyy="3.13325223592271E-07"
        iyz="-1.01577779221512E-21"
        izz="7.84563366460041E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/right_upper_gear.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/right_upper_gear.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_upper_gear"
    type="fixed">
    <origin
      xyz="-0.129704760937072 -0.00630000000000874 -0.000510297532895165"
      rpy="-1.5707963267949 -0.0113771448285702 0" />
    <parent
      link="upper_wrist_support" />
    <child
      link="right_upper_gear" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="right_upper_fastner_support">
    <inertial>
      <origin
        xyz="-0.0296581057404263 -0.0949371627528535 0.00124999999999997"
        rpy="0 0 0" />
      <mass
        value="0.000282503805877601" />
      <inertia
        ixx="1.20637751745231E-08"
        ixy="2.92812516355628E-09"
        ixz="-2.71935626376808E-23"
        iyy="1.49590348728805E-09"
        iyz="3.34232666259708E-23"
        izz="1.3265403864022E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/right_upper_fastner_support.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/right_upper_fastner_support.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_upper_fastner_support"
    type="fixed">
    <origin
      xyz="0.0405054460805762 -0.18196135585292 0.003"
      rpy="0 0 -2.83861382166622" />
    <parent
      link="right_upper_gear" />
    <child
      link="right_upper_fastner_support" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="right_end_effector">
    <inertial>
      <origin
        xyz="-0.020262595048107 -0.131145813818515 0.00165499999999996"
        rpy="0 0 0" />
      <mass
        value="0.000540661599083289" />
      <inertia
        ixx="4.67657334114785E-08"
        ixy="1.1775588916805E-08"
        ixz="3.10192729707385E-23"
        iyy="4.6959174711906E-09"
        iyz="-6.97933641841617E-23"
        izz="5.04743937917164E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/right_end_effector.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/right_end_effector.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_end_effector"
    type="fixed">
    <origin
      xyz="-0.113335712168335 -0.172412390067327 0.00249999999997519"
      rpy="0 0 2.59481849305831" />
    <parent
      link="right_upper_fastner_support" />
    <child
      link="right_end_effector" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="right_bottom_gear">
    <inertial>
      <origin
        xyz="0.0456006769918698 -0.0403924815910667 0.00149999999999972"
        rpy="0 0 0" />
      <mass
        value="0.00339518318134996" />
      <inertia
        ixx="4.76330917639799E-07"
        ixy="-7.71923054033523E-08"
        ixz="1.3119084515091E-21"
        iyy="3.13325223592273E-07"
        iyz="-9.13207396258543E-22"
        izz="7.84563366460048E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/right_bottom_gear.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/right_bottom_gear.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_bottom_gear"
    type="fixed">
    <origin
      xyz="-0.129704760937075 0.00499999999999123 -0.000510297532895554"
      rpy="-1.5707963267949 -0.0113771448285702 0" />
    <parent
      link="upper_wrist_support" />
    <child
      link="right_bottom_gear" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="right_bottom_fastener_support">
    <inertial>
      <origin
        xyz="-0.0296581057404263 -0.0949371627528531 0.00704999999999933"
        rpy="0 0 0" />
      <mass
        value="0.000282503805877599" />
      <inertia
        ixx="1.20637751745226E-08"
        ixy="2.9281251635562E-09"
        ixz="1.24077091882954E-24"
        iyy="1.49590348728804E-09"
        iyz="5.70496128720166E-23"
        izz="1.32654038640215E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/right_bottom_fastener_support.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/right_bottom_fastener_support.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_bottom_fastener_support"
    type="fixed">
    <origin
      xyz="0.0405054460805762 -0.181961355852921 -0.0083000000000002"
      rpy="0 0 -2.83861382166622" />
    <parent
      link="right_bottom_gear" />
    <child
      link="right_bottom_fastener_support" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="left_bottom_gear">
    <inertial>
      <origin
        xyz="0.0456006769918699 -0.0403924815910666 0.00150000000000006"
        rpy="0 0 0" />
      <mass
        value="0.0033951831813499" />
      <inertia
        ixx="4.76330917639784E-07"
        ixy="-7.71923054033508E-08"
        ixz="6.35274710440725E-22"
        iyy="3.13325223592269E-07"
        iyz="1.73377056391115E-21"
        izz="7.84563366460028E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/left_bottom_gear.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/left_bottom_gear.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_bottom_gear"
    type="fixed">
    <origin
      xyz="-0.00881412206891447 0.00800000000002543 -0.00848458040535421"
      rpy="-1.57079632679489 -0.207904224454458 -3.14159265358946" />
    <parent
      link="upper_wrist_support" />
    <child
      link="left_bottom_gear" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="left_bottom_fastener_support">
    <inertial>
      <origin
        xyz="-0.029658105740427 -0.0949371627528532 0.00704999999999922"
        rpy="0 0 0" />
      <mass
        value="0.0002825038058776" />
      <inertia
        ixx="1.20637751745227E-08"
        ixy="2.92812516355628E-09"
        ixz="1.71639977104753E-23"
        iyy="1.49590348728805E-09"
        iyz="-5.59380889238985E-23"
        izz="1.32654038640216E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/left_bottom_fastener_support.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/left_bottom_fastener_support.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_bottom_fastener_support"
    type="fixed">
    <origin
      xyz="-0.0553979760761215 -0.0642810003731594 0.0112999999999938"
      rpy="3.14159265358979 0 -2.03851468926038" />
    <parent
      link="left_bottom_gear" />
    <child
      link="left_bottom_fastener_support" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="left_upper_gear_support">
    <inertial>
      <origin
        xyz="-0.0202625950481072 -0.131145813818515 0.00165499999999952"
        rpy="0 0 0" />
      <mass
        value="0.000540661599083289" />
      <inertia
        ixx="4.67657334114792E-08"
        ixy="1.1775588916805E-08"
        ixz="3.76367178711628E-23"
        iyy="4.6959174711904E-09"
        iyz="-2.39572184910671E-22"
        izz="5.04743937917168E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/left_upper_gear_support.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/left_upper_gear_support.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_upper_gear_support"
    type="fixed">
    <origin
      xyz="-0.0926473277587149 -0.00660999999999667 -0.0495971141315421"
      rpy="-1.5707963267949 0.480440571382254 0" />
    <parent
      link="upper_wrist_support" />
    <child
      link="left_upper_gear_support" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="right_upper_gear_support">
    <inertial>
      <origin
        xyz="-0.0202625950481073 -0.131145813818515 0.00165499999999963"
        rpy="0 0 0" />
      <mass
        value="0.000540661599083279" />
      <inertia
        ixx="4.67657334114779E-08"
        ixy="1.17755889168046E-08"
        ixz="1.71639977104753E-23"
        iyy="4.69591747119035E-09"
        iyz="-1.30280946477102E-23"
        izz="5.04743937917156E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/right_upper_gear_support.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/right_upper_gear_support.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_upper_gear_support"
    type="fixed">
    <origin
      xyz="-0.0626613606702598 -0.00329999999998654 -0.0539090591676911"
      rpy="-1.5707963267949 0.265597870322012 -3.14159265358946" />
    <parent
      link="upper_wrist_support" />
    <child
      link="right_upper_gear_support" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="right_bottom_gear_support">
    <inertial>
      <origin
        xyz="-0.0202625950481072 -0.131145813818515 0.00165499999999985"
        rpy="0 0 0" />
      <mass
        value="0.000540661599083291" />
      <inertia
        ixx="4.67657334114783E-08"
        ixy="1.17755889168051E-08"
        ixz="9.92616735063633E-24"
        iyy="4.69591747119052E-09"
        iyz="-1.71329784375046E-22"
        izz="5.04743937917162E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/right_bottom_gear_support.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/right_bottom_gear_support.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_bottom_gear_support"
    type="fixed">
    <origin
      xyz="-0.0626613606702637 0.00831000000001358 -0.0539090591676908"
      rpy="-1.5707963267949 0.265597870322012 -3.14159265358945" />
    <parent
      link="upper_wrist_support" />
    <child
      link="right_bottom_gear_support" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="left_bottom_gear_support">
    <inertial>
      <origin
        xyz="-0.0202625950481072 -0.131145813818515 0.00165499999999952"
        rpy="0 0 0" />
      <mass
        value="0.000540661599083295" />
      <inertia
        ixx="4.67657334114804E-08"
        ixy="1.17755889168052E-08"
        ixz="-1.50960461790928E-23"
        iyy="4.69591747119062E-09"
        iyz="-8.87151206963122E-23"
        izz="5.04743937917182E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/left_bottom_gear_support.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RoboticArmUrdf/meshes/left_bottom_gear_support.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_bottom_gear_support"
    type="fixed">
    <origin
      xyz="-0.0926473277587188 0.00500000000000334 -0.0495971141315417"
      rpy="-1.5707963267949 0.480440571382254 0" />
    <parent
      link="upper_wrist_support" />
    <child
      link="left_bottom_gear_support" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>